.largeInput {
    width: 160px;
    border: 2px solid var(--color-primary);
    border-radius: 5px 5px 5px 5px;
    outline: none;
    resize: none;
}

@media only screen and (max-width: 700px) {
    .largeInput {
        width: 250px !important;
    }
}