@import "./vars.scss";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

//Fonts
@font-face {
  font-family: "main";
  src: local("Rubik-Light.ttf"),
    url("../fonts/Rubik-Light.ttf") format("truetype");
  font-weight: light;
}

.App {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
}

* {
  font-family: "main";
}

body {
  margin: 0;
  font-family: "main";
}

*,
*::after,
*::before {
  box-sizing: border-box;
}